name: Build Windows Version
on: [push]

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 16

      - name: Install Electron Builder
        run: npm install electron-builder --save-dev

      - name: Build EXE
        run: npx electron-builder --win --dir
        
